In [1]:
import pandas as pd ; import random
x,y = map(int, input('행의 갯수와 열의 갯수:').split())
depth = [0]*x ; data = {'null':depth} ; df = pd.DataFrame(data)
df = df.drop(['null'], axis=1)
for a in range(0,y):df['n%d' % a] = 0
df

행의 갯수와 열의 갯수:10 12

   n0  n1  n2  n3  n4  n5  n6  n7  n8  n9  n10  n11
0   0   0   0   0   0   0   0   0   0   0    0    0
1   0   0   0   0   0   0   0   0   0   0    0    0
2   0   0   0   0   0   0   0   0   0   0    0    0
3   0   0   0   0   0   0   0   0   0   0    0    0
4   0   0   0   0   0   0   0   0   0   0    0    0
5   0   0   0   0   0   0   0   0   0   0    0    0
6   0   0   0   0   0   0   0   0   0   0    0    0
7   0   0   0   0   0   0   0   0   0   0    0    0
8   0   0   0   0   0   0   0   0   0   0    0    0
9   0   0   0   0   0   0   0   0   0   0    0    0